.border{
    height: 100vh;
    border: 2px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.inp1::placeholder{
    font-size: 20px;
    color: rgb(150, 153, 155);
}